.page {
  font-family: "GothamPro", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: $page-bg;
  color: $basic-dark;
}

.page__container {
  width: 850px;
  margin: 0 auto;
}

.page__modal {
  margin-top: 100px;
}
