.page {
  font-family: "GothamPro", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: #E5E5E5;
  color: #0D0D0D;
}

.page__container {
  width: 850px;
  margin: 0 auto;
}

.page__modal {
  margin-top: 100px;
}
